# dependencies
/node_modules

# local env files
.env*.local
.env.docker
.env

# PNPM
/.pnpm-store

# Turbo
.turbo

# Streams
/data/backups/**/*
/data/live/**/*
/data/stream-parts/**/*
/data/streams/**/*
/data/uploads/**/*
!/data/backups/.gitkeep
!/data/live/.gitkeep
!/data/stream-parts/.gitkeep
!/data/streams/.gitkeep
!/data/uploads/.gitkeep

# Digital Ocean
/for-server
temp-todo.md