# dependencies
/node_modules

# local env files
.env*.local
.env

# Streams
/data/backups/**/*
/data/streams/**/*
/data/uploads/**/*
!/data/backups/.gitkeep
!/data/streams/.gitkeep
!/data/uploads/.gitkeep

# Digital Ocean
/for-server