@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --media-secondary-color: rgb(20 20 30 / 0.7);
  --media-control-hover-background: rgba(50 50 70 / 0.7);
}

html {
  font-size: 16px;
}

.always-loading {
  --media-loading-indicator-opacity: 1;
}
